<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K-search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/a.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/list.css') }}">
</head>
<body>
    <header>
        <h1>
            <a href="/">
                <img src="{{ url_for('static', filename='img/logo.png') }}">
                메인
            </a>
        </h1>
        <br>
        <nav>
            <div id="service">
                곧 k-service의 또 다른 서비스가 등장합니다!
            </div>
        </nav>
    </header>
    <br>
    <br>
    <section id="search">
        <form action="/search" method="get">
            <input type="text" name="q">
            <input type="submit">
        </form>
    </section>
</body>
</html>